<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    {% load static %}
    <title>TrueBus {% block title_block %}{% endblock %}</title>
    <link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap-material-design/dist/css/ripples.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap-material-design/dist/css/material-wfont.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap-star-rating/css/star-rating.min.css' %}" rel="stylesheet">
    <link href="{% static 'fontawesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
  </head>
  <body>
    <a id="nav-expander" class="nav-expander text-center fixed">
      <i class="fa fa-bars fa-2x"></i>
    </a>
    <nav>
      <ul class="list-unstyled main-menu">
        <li><a href="/">Home <span class="icon"></span></a></li>
        <li><a href="{% url 'list' %}">Routes <span class="icon"></span></a></li>
        <li><a href="#">About <span class="icon"></span></a></li>
        <!--<li><a href="#">Dropdown</a>
          <ul class="list-unstyled">
              <li class="sub-nav"><a href="#">Sub Menu One <span class="icon"></span></a></li>
              <li class="sub-nav"><a href="#">Sub Menu Two <span class="icon"></span></a></li>
          </ul>
        </li>-->
      </ul>
    </nav>
    {% block content %}
    {% endblock %}
    <script type="text/javascript" src='{% static 'jquery/dist/jquery.min.js' %}'></script>
    <script type="text/javascript" src='{% static 'bootstrap/dist/js/bootstrap.min.js' %}'></script>
    <script type="text/javascript" src='{% static 'bootstrap-material-design/dist/js/ripples.min.js' %}'></script>
    <script type="text/javascript" src='{% static 'bootstrap-material-design/dist/js/material.min.js' %}'></script>
    <script type="text/javascript" src='{% static 'bootstrap-rating-input/build/bootstrap-rating-input.min.js' %}'></script>
    <script type="text/javascript" src='{% static 'bootstrap-star-rating/js/star-rating.min.js' %}'></script>
    <script type="text/javascript" src='{% static 'js/main.js' %}'></script>
    <script>
      $(document).ready(function() {
        $.material.init();
      });
    </script>
  </body>
</html>