{% extends "base.html" %}
{% load humanize %}
{% block content %}
  <div id="headerwrap" class="row margins">
    <div class="col-sm-12 text-center">
        <h1>TrueBus</h1>
    </div>
  </div>
  <div class="row margins">
    <div class="col-sm-12">
      <h2 class="text-primary text-center">What People Are Saying Right Now</h2><br/>
         {% for review in reviews %}
           <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
             <div class="panel mh200 {% cycle 'panel-primary' 'panel-success' 'panel-warning' 'panel-info' 'panel-danger'%}">
               <div class="panel-heading">
                 <h3 class="panel-title"><a href="/route/{{ review.route.route_id }}/{{ review.route.slug }}">{{ review.route }}</a></h3>
               </div>
               <div class="panel-body">
                 {% with review.stars as stars %}
                   {% for i in "x"|rjust:stars %}
                     <i class="glyphicon glyphicon-star yellowstar"></i>
                   {% endfor %}
                 {% endwith %}
                 <b>{{ review.date_posted|naturaltime }}</b><br/>
                 {{ review.comment }}
               </div>
             </div>
           </div>
         {% endfor %}
    </div>
  </div>
{% endblock %}
