{% extends "base.html" %}
{% load humanize %}
{% block title_block %} {{ route.slug|capfirst }}{% endblock %}
{% block content %}
    <div class="t row">

      <div class="col-sm-12 text-center">
        <h1>{{ route.route_short_name }} - {{ route.route_long_name|upper }}</h1>
      </div>
      <div class="col-sm-12 text-center">
        <input id="star-rating" type="number" class="rating" min=1 max=5 data-size="lg" value="{{route_rating.stars__avg}}">
      </div>
      <div class="col-sm-12 text-center">
        <button data-toggle="modal" data-target="#reviewForm" class="btn btn-warning"><i class="mdi-image-edit"></i> Write Review</button>
        <a class="btn btn-info" href="{{ route.route_url }}"><i class="mdi-action-info-outline"></i> More Info</a>
      </div>
    </div>
    <div class="row margins">
      <div class="col-sm-8 col-sm-offset-2">

        {% for review in recent_reviews %}
        <div class=" col-sm-12 well">
           <div class="col-sm-3">
            {% with review.stars as stars %}
            {% for i in "x"|rjust:stars %}
               <i class="glyphicon glyphicon-star yellowstar"></i>
            {% endfor %}
            {% endwith %}<br/>
            <b> {{ review.date_posted|naturaltime }} by Anon </b><br/>
           </div>
           <div class="col-sm-9">{{ review.comment }}</div>
        </div>
        {% endfor %}
      </div>
    </div>



<!-- Modal -->
<div class="modal fade" id="reviewForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form class="form-horizontal">
    <fieldset>
        <legend>{{ route.route_short_name }} - {{ route.route_long_name|upper }}</legend>
        <div class="form-group">
            <label for="inputName" class="col-lg-3 control-label">Name (optional)</label>
            <div class="col-lg-9">
                <input type="name" class="form-control" id="inputName" placeholder="Name">
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail" class="col-lg-3 control-label">Email (optional)</label>
            <div class="col-lg-9">
                <input type="email" class="form-control" id="inputEmail" placeholder="Email">
            </div>
        </div>
        <div class="form-group">
            <label for="inputStars" class="col-lg-3 control-label">Star Rating</label>
            <div class="col-lg-9">
                <input id="star-rating-input" type="number" class="rating" min=1 max=5 data-size="lg" value="{{route_rating.stars__avg}}">
            </div>
        </div>

        <div class="form-group">
            <label for="textArea" class="col-lg-3 control-label">Comments</label>
            <div class="col-lg-9">
                <textarea class="form-control" rows="3" id="textArea"></textarea>
                <span class="help-block">Please provide constructive criticism for how this bus route can be improved.</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-9 col-lg-offset-3">
                <button class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </fieldset>
</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}